# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.old
*.pdf

# logs
*.log

# Eclipse
.settings
.settings/
.classpath
.project
.springBeans


# building
target
tmp*
dist
test-output

# other scm
.svn
.CVS
.hg*

# Idea
.idea/
*.iml
*.iws

# Maven
log/
target/

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

